# workspace
build/
compile_commands.json
.cache
logs/
CMakeFiles/
latex
html
# macOS
.DS_Store
.idea
 # i was trying jet brains lol
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/packages/
vcpkg/installed/
**/.*.spv
**/.*.frag
**/.*.vert
src/backend/shaders
vcpkg
